<section class="intro">
  <div class="container d-flex align-items-center justify-content-center">
    <%= image_tag "blm_fist.png", alt: "black lives matter fist", width: '100px' %>
    <h1>#SayTheirNames</h1>
  </div>
</section>
<section class="timeline">
  <ul>
    <% data.names.each do |person| %>
      <li>
        <div class="name-box">
          <div class="name-box-header">
            <h5>#<%= person.name %></h5>
            <time><%= person.location %> - <%= person.year %></time>
          </div>
          <p><span class="font-bolder">What they were doing: </span><%= person.doing %>
          </p>
          <p><span class="font-bolder">How they were killed: </span><%= person.killing %>
          </p>
          <p><span class="font-bolder">Action taken:</span> <%= person.action %>
          </p>
          <% link_to person.link, class: 'external-link' do %>
            <i class="fas fa-external-link-alt"></i>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</section>