<section class="intro">
  <div class="container">
    <h1>#SayTheirNames</h1>
  </div>
</section>
<section class="timeline">
  <ul>
    <% data.names.each do |person| %>
      <li>
        <div class="name-box">
          <div class="d-flex justify-content-between">
            <h5><%= person.name %></h5>
            <time><%= person.location %> - <%= person.year %></time>
          </div>
          <p>What they were doing: <span class="font-lighter"><%= person.doing %></span>
          </p>
          <p>Action taken: <span class="font-lighter"> <%= person.action %></span>
          </p>
        </div>
      </li>
    <% end %>
  </ul>
</section>